<html> 
  <head>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet"/>
    <link href='/css/main.css', rel='stylesheet'/>
    <!-- script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js") -->
    <!-- <link> rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css/'> -->
    <!-- <link> rel="icon" href="/images/lr_logo.ico" type="image/x-icon/> -->
    <%if(csrfToken){%>
      <meta name="_token" content=csrfToken || "">
    <%}%>
  </head>
    
  <body>
    <%if (sessionFlash && sessionFlash.message && sessionFlash.type === 'message'){%>
      #sessionFlashMessage.hide(atagValue=sessionFlash.atagValue) #{sessionFlash.message}
    <%} else if (sessionFlash && sessionFlash.message && sessionFlash.type === 'cancel'){%>
      #sessionFlashCancel.hide #{sessionFlash.message}
    <%}%>
    <%- body -%>
    <% include scripts.ejs %> 
  </body>